<div class="mt-5 animate-pulse">
  <!-- Product Name Mobile-->
  <div
    class="mb-5 space-y-2 px-5 *:h-5 *:w-full *:rounded-full *:bg-black/10 md:hidden"
  >
    <p></p>
    <p></p>
    <p [style.width]="'65%'"></p>
  </div>

  <!-- Details -->
  <div class="flex flex-col py-2 md:flex-row">
    <!-- Images -->
    <div
      class="flex flex-1 flex-col-reverse items-center justify-between md:flex-row md:space-x-5"
    >
      <ul
        class="flex items-center space-x-2 *:my-5 *:size-11 *:rounded-xl *:bg-black/10 md:ml-2 md:flex-col md:space-y-3 *:md:my-0 lg:ml-3"
      >
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <div
        class="mx-auto flex size-64 items-center justify-center rounded-xl bg-black/10"
      ></div>
      <div></div>
    </div>

    <!-- Title & Purchase Desktops -->
    <div class="flex-1 space-y-2 px-4 md:pl-16">
      <div
        class="space-y-2 *:hidden *:h-5 *:w-full *:rounded-full *:bg-black/10 *:md:block"
      >
        <p></p>
        <p></p>
        <p [style.width]="'60%'"></p>
      </div>

      <hr />
      <!-- Price -->
      <div class="py-2">
        <div class="flex space-x-3 *:h-3 *:w-12 *:rounded-full *:bg-black/10">
          <p></p>
          <p></p>
        </div>

        <p class="mt-5 h-3 w-52 rounded-full bg-black/10"></p>
      </div>

      <hr class="py-2" />

      <!-- Buy & Cart -->
      <div
        class="flex flex-col items-center space-y-2 font-semibold *:h-9 *:w-full *:rounded-lg *:border *:border-gray-200 *:bg-black/10 md:flex-row md:space-y-0 md:space-x-5 md:*:max-w-44"
      >
        <p></p>
        <p></p>
      </div>
    </div>
  </div>

  <!-- Discription -->
  <div class="space-y-5 p-5">
    <hr />
    <h4 class="h-4 w-44 rounded-full bg-black/10"></h4>
    <div class="w-full space-y-2 pl-4 sm:pl-10">
      <p class="h-3 w-full rounded-full bg-black/10"></p>
      <p class="h-3 w-full rounded-full bg-black/10"></p>
      <p class="h-3 w-full rounded-full bg-black/10"></p>
      <p class="h-3 w-2/3 rounded-full bg-black/10"></p>
    </div>
    <hr />
  </div>

  <!-- Specifications -->
  <p class="ml-5 h-4 w-52 rounded-full bg-black/10"></p>
  <div class="my-5 px-5">
    <div class="rounded-lg bg-[#F0F2F2]">
      <ul class="space-y-1 p-3">
        <li
          class="flex justify-between rounded-lg px-4 py-2 *:h-3 *:w-20 *:rounded-full *:bg-black/10 odd:bg-white"
        >
          <p></p>
          <p></p>
        </li>
        <li
          class="flex justify-between rounded-lg px-4 py-2 *:h-3 *:w-20 *:rounded-full *:bg-black/10 odd:bg-white"
        >
          <p></p>
          <p></p>
        </li>
        <li
          class="flex justify-between rounded-lg px-4 py-2 *:h-3 *:w-20 *:rounded-full *:bg-black/10 odd:bg-white"
        >
          <p></p>
          <p></p>
        </li>
        <li
          class="flex justify-between rounded-lg px-4 py-2 *:h-3 *:w-20 *:rounded-full *:bg-black/10 odd:bg-white"
        >
          <p></p>
          <p></p>
        </li>
        <li
          class="flex justify-between rounded-lg px-4 py-2 *:h-3 *:w-20 *:rounded-full *:bg-black/10 odd:bg-white"
        >
          <p></p>
          <p></p>
        </li>
        <li
          class="flex justify-between rounded-lg px-4 py-2 *:h-3 *:w-20 *:rounded-full *:bg-black/10 odd:bg-white"
        >
          <p></p>
          <p></p>
        </li>
      </ul>
    </div>
  </div>
</div>
