@if (loadingState === "loading") {
  <app-loading-spinner />
} @else if (loadingState === "success") {
  <div class="relative mx-5 overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm rtl:text-right">
      <thead class="bg-gray-700 text-xs text-white uppercase">
        <tr>
          <th scope="col" class="p-2">Image</th>
          <th scope="col" class="p-2">Name</th>
          <th scope="col" class="p-2">Email</th>
        </tr>
      </thead>
      <tbody>
        @for (customer of customersList; track customer.email) {
          <tr
            class="cursor-pointer border-b border-gray-200 text-nowrap odd:bg-white even:bg-gray-50 hover:bg-gray-200"
          >
            <th
              scope="row"
              class="pr-3 pl-6 font-medium whitespace-nowrap text-gray-900"
            >
              <img
                [src]="customer.imageurl"
                class="h-7 object-contain"
                alt="user-image"
              />
            </th>
            <td class="p-2">
              {{ customer.firstname + " " + customer.lastname }}
            </td>
            <td class="p-2 hover:underline">{{ customer.email }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <h1 class="mx-auto my-14 max-w-[75vw] text-center text-2xl font-bold">
    Server Connection Timeout
  </h1>
}
