<div class="px-4">
  <form
    [formGroup]="newProductForm"
    class="mx-auto flex w-full max-w-[35rem] flex-col space-y-[0.65rem] text-nowrap rounded-lg bg-white p-5 shadow-lg sm:px-10"
  >
    <h2 class="text-center text-3xl font-bold">Add New Product</h2>
    <!-- Name -->
    <label for="name" class="relative">
      <input formControlName="name" required id="name" class="form-input" />
      <span class="input-placeholder">Name</span>
      @if (
        newProductForm.hasError("required", "name") &&
        newProductForm.controls["name"].dirty
      ) {
        <span class="block text-xs text-red-500">*name is required</span>
      }
    </label>

    <!-- Price -->
    <div class="flex items-center justify-between space-x-2">
      <label for="price" class="relative">
        <input
          formControlName="price"
          required
          type="number"
          id="price"
          class="form-input"
        />
        <span class="input-placeholder">Selling Price</span>
        @if (
          newProductForm.hasError("required", "price") &&
          newProductForm.controls["price"].dirty
        ) {
          <span class="block text-xs text-red-500">*price is required</span>
        }
      </label>

      <label for="originalPrice" class="relative">
        <input
          formControlName="originalprice"
          required
          type="number"
          id="originalPrice"
          class="form-input"
        />
        <span class="input-placeholder">Original Price</span>
        @if (
          newProductForm.hasError("required", "originalPrice") &&
          newProductForm.controls["originalprice"].dirty
        ) {
          <span class="block text-xs text-red-500"
            >*original price is required</span
          >
        }
      </label>
    </div>

    <!-- Title -->
    <label for="title" class="relative">
      <input formControlName="title" required id="title" class="form-input" />
      <span class="input-placeholder">Title</span>
      @if (
        newProductForm.hasError("required", "title") &&
        newProductForm.controls["title"].dirty
      ) {
        <span class="block text-xs text-red-500">*title is required</span>
      }
    </label>

    <!-- Product Images -->
    <fieldset
      class="grid grid-cols-2 gap-2 rounded-md border border-solid border-gray-300 p-2"
    >
      <legend
        class="flex cursor-pointer items-center space-x-1 rounded-lg bg-gray-800 px-2 py-1 text-white hover:opacity-85"
        (click)="addImage()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <button class="outline-none">Add image</button>
      </legend>

      <ng-container formArrayName="imageurls">
        @for (url of imageurls().controls; track url; let i = $index) {
          <label class="relative">
            <input [formControlName]="i" required class="form-input" />
            <span class="input-placeholder">Url {{ i + 1 }}</span>
            <button (click)="removeImage(i)" class="absolute right-px top-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-[1.01rem]"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </label>
        }
      </ng-container>
    </fieldset>

    <!-- Properties -->
    <fieldset
      class="space-y-2 rounded-md border border-solid border-gray-300 p-2"
    >
      <legend
        class="flex cursor-pointer items-center space-x-1 rounded-lg bg-gray-800 px-2 py-1 text-white hover:opacity-85"
        (click)="addProperty()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <button class="outline-none">Add Property</button>
      </legend>

      <ng-container formArrayName="details">
        @for (prop of details().controls; track prop; let i = $index) {
          <div class="flex items-center space-x-4" [formGroupName]="i">
            <input
              required
              class="form-input"
              placeholder="Key"
              formControlName="key"
            />
            <input
              required
              class="form-input"
              placeholder="Value"
              formControlName="val"
            />

            <button (click)="removeProperty(i)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 hover:opacity-50"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                />
              </svg>
            </button>
          </div>
        }
      </ng-container>
    </fieldset>

    <!-- Description -->
    <label for="description" class="relative">
      <textarea
        formControlName="description"
        required
        type="text"
        id="description"
        class="form-input"
      ></textarea>
      <span class="input-placeholder">Description</span>
      @if (
        newProductForm.hasError("required", "description") &&
        newProductForm.controls["description"].dirty
      ) {
        <span class="block text-xs text-red-500">*Description is required</span>
      }
    </label>

    <!-- Submint -->
    <button
      type="submit"
      (click)="handleSubmit()"
      [disabled]="newProductForm.invalid"
      class="rounded-lg bg-black py-1 font-semibold text-white {{
        newProductForm.invalid
          ? 'bg-black/70 cursor-not-allowed'
          : 'hover:bg-black/80'
      }}"
    >
      Add
    </button>
  </form>
</div>
