<div class="animate-pulse">
  <!-- Toggle items Selection -->
  <p class="mx-4 h-3 w-20 rounded-lg bg-black/10"></p>

  <!-- Checkout -->
  <div
    class="m-3 flex items-center justify-between rounded-lg bg-slate-200 p-3"
  >
    <p class="h-4 w-36 rounded-lg bg-black/10"></p>
    <p class="h-4 w-24 rounded-lg bg-black/10"></p>
  </div>

  <!-- Cart Items List -->
  <div class="mx-4 mt-4 space-y-4">
    @for (item of [1, 2, 3]; track $index) {
      <div
        class="flex scale-[0.97] items-center space-x-10 rounded-lg bg-white p-5"
      >
        <div class="size-24 rounded-lg bg-black/10"></div>
        <div class="flex-1 space-y-2">
          <p class="h-4 w-32 rounded-lg bg-black/10"></p>
          <div class="space-y-1">
            <p class="h-2 w-full rounded-lg bg-black/10"></p>
            <p class="h-2 w-full rounded-lg bg-black/10"></p>
            <p class="h-2 w-1/2 rounded-lg bg-black/10"></p>
          </div>
          <div class="h-6 w-32 rounded-lg bg-black/10"></div>
        </div>
      </div>
    }
  </div>
</div>
