<div class="px-2">
  <h3 class="px-5 py-3 text-3xl font-semibold">Terms of Service</h3>
  <hr />
  <div class="max-h-[32rem] overflow-y-auto p-5">
    <p>
      These Terms of Service ("Terms") govern your use of the E-Cart's website
      and mobile application (collectively, the "Service") operated by the
      E-Cart ("us", "we", or "our").
    </p>
    <p>
      Please read these Terms carefully before accessing or using our Service.
      By accessing or using any part of the Service, you agree to be bound by
      these Terms. If you do not agree to all the terms and conditions of this
      agreement, then you may not access the Service.
    </p>

    <h2 class="mt-4 text-xl font-bold">Accounts</h2>
    <p>
      When you create an account with us, you must provide accurate, complete,
      and current information at all times. Failure to do so constitutes a
      breach of the Terms, which may result in immediate termination of your
      account on our Service.
    </p>

    <h2 class="mt-4 text-xl font-bold">Intellectual Property</h2>
    <p>
      The Service and its original content, features, and functionality are and
      will remain the exclusive property of the E-Cart and its licensors.
    </p>

    <h2 class="mt-4 text-xl font-bold">Links To Other Web Sites</h2>
    <p>
      Our Service may contain links to third-party web sites or services that
      are not owned or controlled by the E-Cart.
    </p>
    <p>
      the E-Cart has no control over, and assumes no responsibility for, the
      content, privacy policies, or practices of any third-party web sites or
      services. You further acknowledge and agree that [Your Company Name] shall
      not be responsible or liable, directly or indirectly, for any damage or
      loss caused or alleged to be caused by or in connection with use of or
      reliance on any such content, goods, or services available on or through
      any such web sites or services.
    </p>

    <h2 class="mt-4 text-xl font-bold">Changes</h2>
    <p>
      We reserve the right, at our sole discretion, to modify or replace these
      Terms at any time. If a revision is material, we will try to provide at
      least 30 days' notice prior to any new terms taking effect. What
      constitutes a material change will be determined at our sole discretion.
    </p>

    <h2 class="mt-4 text-xl font-bold">Contact Us</h2>
    <p>
      If you have any questions about these Terms, please contact us at
      <a href="mailto:ecartserviceind@gmail.com" class="text-blue-500">{{
        "ecartserviceind@gmail.com"
      }}</a>
    </p>
  </div>
</div>
