<div class="px-2">
  <h3 class="border-b border-gray-300 px-5 py-3 text-3xl font-semibold">Privacy Ploicy</h3>
  <div class="max-h-[32rem] overflow-y-auto p-5">
    <p>
      E-Cart is committed to protecting your privacy. This Privacy Policy
      explains how your personal information is collected, used, and disclosed
      by E-Cart when you use our mobile application and website (the "Service").
      By accessing or using the Service, you consent to the collection, use, and
      disclosure of your information in accordance with this Privacy Policy.
    </p>

    <h2 class="mb-2 mt-6 text-xl font-bold">Information Collection and Use</h2>

    <p>
      We may collect several types of information from and about users of our
      Service, including:
    </p>

    <ul class="ml-6 list-disc">
      <li>
        Personal Information: such as your name, email address, postal address,
        phone number, and payment information when you make a purchase.
      </li>
      <li>
        Usage Information: including your IP address, browser type, operating
        system, mobile device identifier, and information about your use of the
        Service.
      </li>
      <li>
        Location Information: if you enable location-based services, we may
        collect information about your location.
      </li>
      <li>
        Cookies and Similar Technologies: we may use cookies, web beacons, and
        other tracking technologies to collect information about you when you
        interact with our Service.
      </li>
    </ul>

    <h2 class="mb-2 mt-6 text-xl font-bold">Use of Information</h2>

    <p>
      We may use the information we collect for various purposes, including to:
    </p>

    <ul class="ml-6 list-disc">
      <li>Provide, maintain, and improve the Service;</li>
      <li>
        Process transactions and send you related information, including
        confirmations and receipts;
      </li>
      <li>Respond to your comments, questions, and requests;</li>
      <li>
        Communicate with you about products, services, offers, promotions, and
        events;
      </li>
      <li>
        Monitor and analyze trends, usage, and activities in connection with our
        Service;
      </li>
      <li>
        Detect, investigate, and prevent fraudulent transactions and other
        illegal activities;
      </li>
      <li>
        Personalize and improve the Service and provide advertisements, content,
        or features that match user profiles or interests;
      </li>
      <li>
        Carry out any other purpose described to you at the time the information
        was collected.
      </li>
    </ul>

    <h2 class="mb-2 mt-6 text-xl font-bold">Information Sharing</h2>

    <p>We may share your information as follows:</p>

    <ul class="ml-6 list-disc">
      <li>
        With vendors, consultants, and other service providers who need access
        to such information to carry out work on our behalf;
      </li>
      <li>With our affiliates and subsidiaries;</li>
      <li>
        In response to a request for information if we believe disclosure is in
        accordance with any applicable law, regulation, or legal process, or as
        otherwise required by any applicable law, rule, or regulation;
      </li>
      <li>
        If we believe your actions are inconsistent with our user agreements or
        policies, or to protect the rights, property, and safety of [Your
        Company Name], our users, or others;
      </li>
      <li>
        In connection with, or during negotiations of, any merger, sale of
        company assets, financing, or acquisition of all or a portion of our
        business by another company;
      </li>
      <li>With your consent or at your direction.</li>
    </ul>

    <h2 class="mb-2 mt-6 text-xl font-bold">Data Retention</h2>

    <p>
      We will retain your information for as long as necessary to fulfill the
      purposes outlined in this Privacy Policy unless a longer retention period
      is required or permitted by law.
    </p>

    <h2 class="mb-2 mt-6 text-xl font-bold">Security</h2>

    <p>
      We take reasonable measures to help protect your information from loss,
      theft, misuse, and unauthorized access, disclosure, alteration, and
      destruction.
    </p>

    <h2 class="mb-2 mt-6 text-xl font-bold">Changes to This Privacy Policy</h2>

    <p>
      We may update this Privacy Policy from time to time. If we make changes,
      we will notify you by revising the "Last Updated" date at the top of this
      Privacy Policy.
    </p>

    <h2 class="mb-2 mt-6 text-xl font-bold">Contact Us</h2>

    <p>
      If you have any questions about this Privacy Policy, please contact us at
      <a href="mailto:ecartserviceind@gmail.com" class="text-blue-500">{{
        "ecartserviceind@gmail.com"
        }}</a>.
    </p>
  </div>
</div>
