@if (loading) {
  <div class="grid h-[80vh] place-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="size-48" viewBox="0 0 24 24">
      <g>
        <circle cx="12" cy="3" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate0"
            attributeName="r"
            begin="0;svgSpinners12DotsScaleRotate2.end-0.375s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="16.5" cy="4.21" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate1"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate0.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="7.5" cy="4.21" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate2"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate4.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="19.79" cy="7.5" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate3"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate1.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="4.21" cy="7.5" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate4"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate6.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="21" cy="12" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate5"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate3.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="3" cy="12" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate6"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate8.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="19.79" cy="16.5" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate7"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate5.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="4.21" cy="16.5" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate8"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotatea.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="16.5" cy="19.79" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotate9"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate7.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="7.5" cy="19.79" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotatea"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotateb.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <circle cx="12" cy="21" r="1" fill="currentColor">
          <animate
            id="svgSpinners12DotsScaleRotateb"
            attributeName="r"
            begin="svgSpinners12DotsScaleRotate9.begin+0.075s"
            calcMode="spline"
            dur="0.45s"
            keySplines=".27,.42,.37,.99;.53,0,.61,.73"
            values="1;2;1"
          />
        </circle>
        <animateTransform
          attributeName="transform"
          dur="4.5s"
          repeatCount="indefinite"
          type="rotate"
          values="360 12 12;0 12 12"
        />
      </g>
    </svg>
  </div>
} @else {
  <div>
    <ul
      class="hide-scroll mb-4 flex w-full flex-nowrap items-center space-x-1 overflow-x-auto scroll-smooth text-nowrap px-2"
    >
      <li
        (click)="currentPage = 'admin'"
        routerLink="/admin"
        class="flex cursor-pointer items-center space-x-1 rounded-lg border bg-white px-2 py-1 hover:text-black/55 {{
          currentPage === 'admin' && 'text-black/55'
        }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z"
          />
        </svg>
        <span> Dashboard </span>
      </li>
      <li
        (click)="currentPage = 'products'"
        routerLink="/admin/products"
        class="flex cursor-pointer items-center space-x-1 rounded-lg border bg-white px-2 py-1 hover:text-black/55 {{
          currentPage === 'products' && 'text-black/55'
        }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z"
          />
        </svg>

        <span> Products </span>
      </li>
      <li
        (click)="currentPage = 'orders'"
        routerLink="/admin/orders"
        class="flex cursor-pointer items-center space-x-1 rounded-lg border bg-white px-2 py-1 hover:text-black/55 {{
          currentPage === 'orders' && 'text-black/55'
        }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
          />
        </svg>

        <span> Orders </span>
      </li>
      <li
        (click)="currentPage = 'customers'"
        routerLink="/admin/customers"
        class="flex cursor-pointer items-center space-x-1 rounded-lg border bg-white px-2 py-1 hover:text-black/55 {{
          currentPage === 'customers' && 'text-black/55'
        }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
          />
        </svg>

        <span> Customers </span>
      </li>
      <li
        (click)="currentPage = 'add-product'"
        routerLink="/admin/add-product"
        class="flex cursor-pointer items-center space-x-1 rounded-lg border bg-white px-2 py-1 hover:text-black/55 {{
          currentPage === 'add-product' && 'text-black/55'
        }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>

        <span> Add Product </span>
      </li>
    </ul>

    <router-outlet />
  </div>
}
