<div class="px-2">
  <h3 class="px-5 py-3 text-3xl font-semibold">Shipping</h3>
  <hr />
  <div class="max-h-[32rem] overflow-y-auto p-5">
    <div class="mb-8 rounded bg-white px-8 py-6 shadow-md">
      <h2 class="mb-4 text-xl font-bold">Frequently Asked Questions</h2>
      <div class="mb-4">
        <h3 class="mb-2 text-lg font-semibold">
          How long will it take for my order to ship?
        </h3>
        <p class="text-gray-700">
          Shipping times vary depending on your location and the shipping method
          selected at checkout. Standard shipping typically takes 3-5 business
          days.
        </p>
      </div>
      <div class="mb-4">
        <h3 class="mb-2 text-lg font-semibold">
          Do you offer international shipping?
        </h3>
        <p class="text-gray-700">
          Yes, we offer international shipping to most countries. Shipping rates
          and delivery times may vary.
        </p>
      </div>
      <div class="mb-4">
        <h3 class="mb-2 text-lg font-semibold">Can I track my order?</h3>
        <p class="text-gray-700">
          Yes, once your order has shipped, you will receive a tracking number
          via email. You can use this tracking number to monitor the status of
          your shipment.
        </p>
      </div>
    </div>

    <div class="mb-8 rounded bg-white px-8 py-6 shadow-md">
      <h2 class="mb-4 text-xl font-bold">Contact Us</h2>
      <p class="mb-4 text-gray-700">
        If you have any further questions or need assistance with your order,
        please don't hesitate to contact our customer support team.
      </p>
      <div>
        <p class="text-gray-700">
          <span class="font-bold">Email:</span>
          <a href="mailto:ecartserviceind@gmail.com" class="text-blue-500">{{
            "  ecartserviceind@gmail.com"
          }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
