@import "tailwindcss";

@theme {
  --color-smoke: hsl(44, 36%, 94%);
  --color-whitesmoke: hsl(0, 0%, 96%);
  --color-bluesmoke: hsl(213, 52%, 96%);
  --color-link: hsl(219, 100%, 61%);
}

.form-input {
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.41rem;
  padding-bottom: 0.41rem;
  color: #000000;
  outline: none;
  transition: all 0.2s;
}

.input-placeholder {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
  left: 0.75rem;
  top: 0.5rem;
  cursor: text;
  white-space: nowrap;
  background-color: #ffffff;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.form-input:focus ~ .input-placeholder {
  transform: translateY(-1.3rem) scale(0.65);
  cursor: default;
  color: #000000;
}

.form-input:valid ~ .input-placeholder {
  transform: translateY(-1.3rem) scale(0.65);
}

.form-input:focus {
  border-color: #000000;
  color: #000000;
}

.underline-url {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.underline-url::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline-url:hover {
  color: rgba(0, 0, 0, 0.75);
}

.underline-url:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Make text unselectable */
.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Hide spin buttons in number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide scroll for Firefox */
.hide-scroll {
  scrollbar-width: none;
}

/* Spin animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    stroke-dasharray: 1, 800;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -200px;
  }
  100% {
    stroke-dasharray: 800, 1;
    stroke-dashoffset: -800px;
  }
}

.spin2 {
  transform-origin: center;
  animation:
    spin2 1.5s ease-in-out infinite,
    spin 2s linear infinite;
  animation-direction: alternate;
}
