<div class="px-2">
  <h3 class="border-b border-gray-300 px-5 py-3 text-3xl font-semibold">Tech Used</h3>
  <div class="max-h-[32rem] overflow-y-auto p-5">
    <!-- Frontend Technologies -->
    <div class="mb-8">
      <h2 class="mb-4 text-lg font-semibold">Frontend Technologies</h2>
      <div class="flex flex-wrap items-center justify-center space-x-8 space-y-4 *:object-contain">
        <!-- Angular v18 -->
        <img src="../../../../assets/angular.svg" class="w-16" alt="angular" />

        <!-- Tailwind -->
        <img src="../../../../assets/tailwind.svg" class="w-16" alt="tailwind" />

        <!-- TypeScript -->
        <img src="../../../../assets/typescript.svg" class="w-16" alt="typescript" />

        <!-- NgRx -->
        <img src="../../../../assets/ngrx-logo.svg" class="size-16 object-contain" alt="ngrx_logo" />

        <!-- Stripe Payments -->
        <img src="../../../../assets/stripe.svg" class="size-28 object-contain" alt="stripe" />
      </div>
    </div>

    <!-- Backend Technologies -->
    <div>
      <h2 class="mb-4 text-lg font-semibold">Backend Technologies</h2>
      <div class="flex flex-wrap items-center justify-center space-x-8 *:object-contain">
        <!-- Node.js -->
        <img src="../../../../assets/node.svg" class="size-32" alt="node" />

        <!-- Express-->
        <img src="../../../../assets/express.svg" class="size-20" alt="express" />

        <!-- PostgreSQL -->
        <img src="../../../../assets/postgres.svg" class="size-20" alt="postgres" />

        <!-- NodeMailer -->
        <img src="../../../../assets/node-mailer.png" class="size-24" alt="nodemailer_logo" />

        <!-- JWT -->
        <img src="../../../../assets/jwt.svg" class="size-32" alt="jwt" />

        <!-- Bcrypt -->
        <img src="../../../../assets/bcrypt.svg" class="w-44" alt="bcrypt" />
      </div>
    </div>
  </div>
</div>
