<div class="w-full bg-whitesmoke">
  <!-- Copyright, Terms & Privacy -->
  <div
    class="max-w flex flex-col items-center space-y-5 border-t border-smoke bg-white px-4 py-3 text-sm md:flex-row md:justify-between"
  >
    <h2 class="flex-1 font-semibold text-black/25">
      Copyright &copy; 2024 E-Cart. All Rights Reserved
    </h2>

    <ul class="flex items-center space-x-10">
      <li (click)="modalService.setModal('terms')" class="-mt-4">
        <p class="underline-url">Terms of Service</p>
      </li>
      <li (click)="modalService.setModal('privacy')" class="-mt-4">
        <p class="underline-url">Privacy Policy</p>
      </li>
    </ul>
  </div>
</div>
